<div>
  <div class="sixteen columns menuBar">
    <i ng-click="back()" class="icon-chevron-left"> Back to List</i>
    <i class="icon-align-justify largeIcon"></i>
  </div>
</div>
<div class="page-title">
  <div class="container clearfix sidebar">
    <div class="sixteen columns">
      <h3 style="text-align: center;">Add Medications</h3>
    </div>
  </div>
</div>
<div class="four columns tables-column">
  <button ng-click="snap()" class="button color large">Snap Photo</button>
</div>
<div>
  <img ng-src="{{imageSrc}}">
</div>