<div>
  <div class="sixteen columns menuBar">
    <i class=""></i>
    <i class="icon-align-justify largeIcon"></i>
  </div>
</div>
<div class="page-title">
  <div class="container clearfix sidebar">
    <div class="sixteen columns">
      <h3 style="text-align: center;">Set up your Heart CareBoard Tasks</h3>
    </div>
  </div>
</div>
<div class="four columns tables-column">
  <div class="header mobileField">
    <i class=""></i>
    <input type="text" placeholder="Who are we helping?" class="patientName">
    <i class="icon-check-sign"></i>
  </div>
  <ul class="list">
    <li ng-click="menu('/medication/add')" class="mobileField">
      <i class="icon-medkit"></i>

      <h4>Add Medication</h4> <i class="icon-chevron-right"></i>
    </li>
    <li class="mobileField">
      <i class="icon-calendar"></i>

      <h4>Next Appointment</h4> <i class=""></i>
    </li>
    <li class="mobileField">
      <i class="icon-smile"></i>

      <h4>Physical Activity<br>Instructions</h4> <i class=""></i>
    </li>
    <li class="mobileField">
      <i class="icon-food"></i>

      <h4>Food Instructions</h4> <i class=""></i>
    </li>
    <li ng-click="menu('/discharge/record')" class="mobileField">
      <i class="icon-facetime-video"></i>

      <h4>Record All<br>Discharge Instructions</h4> <i class="icon-chevron-right"></i>
    </li>
  </ul>
</div>